body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, #b19cd9, #7b68ee);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    padding: 20px;
}

.login-card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    height: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-card form {
    margin-bottom: 20px;
}
.login-card h2 {
    position: relative; /* Make it relative to position pseudo-elements */
    margin-bottom: 40px;
    color: #7b68ee;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.login-card h2::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 75px;
    background: linear-gradient(90deg, #b19cd9, #7b68ee);
    border-radius: 20px;
    top: 50%; 
    transform: translateY(-50%);
}


.login-card h2::before {
    left: 104px; 
    top: 40px;
    animation: wave-animation 3s ease-in-out infinite;
}


@keyframes wave-animation {
    0%, 100% {
        transform: translateY(-50%) scaleX(1);
    }
    50% {
        transform: translateY(-50%) scaleX(1.3);
    }
}

@keyframes wave-animation-reverse {
    0%, 100% {
        transform: translateY(-50%) scaleX(1);
    }
    50% {
        transform: translateY(-50%) scaleX(0.8);
    }
}
.login-card .form-label_1 {
    font-weight: 600;
    margin-right: 130px;
    color: #7b68ee;
}
.login-card .form-label_2 {
    font-weight: 600;
    margin-right: 195px;
    color: #7b68ee;
}
.login-card input {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}
.login-card .forgot_password{
    color: #7b68ee;
    text-decoration: none;
    font-size: 14px;
    margin-left: 150px;
}

.login-card button {
    background: #7b68ee;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-card button:hover {
    background: #5a46c1;
}

.social-login p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.social-icon {
    color: #7b68ee;
    font-size: 20px;
    margin: 0 10px;
}

.social-icon:hover {
    color: #5a46c1;
}
